<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoPiGo3 Controller</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
         document.addEventListener('DOMContentLoaded', (event) => {
            var socket = io();

            socket.on('message', function(data) {
                document.getElementById('message').innerText = `Message from GoPiGo: ${data.message}`;
            });
        });

        function sendCommand(command) {
            fetch('/send-command', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ command: command })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                document.getElementById('message').innerText = `Command "${command}" sent!`;
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('message').innerText = 'Error sending command';
            });
        }

        function runSSHCommand(command) {
            fetch('/run-ssh-command', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ command: command })
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    document.getElementById('message').innerText = `Error: ${data.error}`;
                } else {
                    document.getElementById('message').innerText = `Output: ${data.message}`;
                }
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('message').innerText = 'Error running SSH command';
            });
        }
        function startProgram() {
            runSSHCommand('nohup python3 /home/pi/Desktop/codes/gopigo3_remote_control.py &');
        }
        function stopProgram() {
            runSSHCommand('pkill -f gopigo3_remote_control.py');
        }
    </script>
</head>
<body>
    <h1>GoPiGo3 Controller</h1>
    <button onclick="startProgram()">Run GPGONE Program</button>
    <br><br/>
    <button onclick="sendCommand('start1')">Start GoPiGo 1</button>
    <button onclick="sendCommand('start2')">Start GoPiGo 2</button>
    <button onclick="sendCommand('start3')">Start GoPiGo 3</button>
    <button onclick="sendCommand('stop')">Stop All</button>
    <br><br/>
    <button onclick="stopProgram()">End GPGONE Program</button>
    <div id="message">Waiting for message...</div>
</body>
</html>